# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [58]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)
df = pd.read_csv('jeopardy.csv')
df.head()

df = df.rename(columns = {" Air Date" : "Air Date", " Round" : "Round", " Category" : "Category", " Value" : "Value", " Question" : "Question", " Answer" : "Answer"})

df.head(50)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect shared billing with a grasshopper",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,"Built in 312 B.C. to link Rome & the South of Italy, it's still in use today",the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packaging its merchandise came in & was first displayed on,Crate & Barrel
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach to the mouth & chew it again,the cud
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea,Ceylon (or Sri Lanka)
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse at Syracuse & if you think he couldn't act, ask his 11 ""unclean"" buddies",Jim Brown
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service began issuing this index that rates the intensity of the sun's radiation",the UV index
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1960, had a guarantee of accuracy to within one minute a month",Bulova
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward whose name is not worthy to appear here""",Jesse James
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who might be a little demon!)",imp
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizational efforts; the second one began in 1889,the International
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,"No. 10: FB/LB for Columbia U. in the 1920s; MVP for the Yankees in '27 & '36; ""Gibraltar in Cleats""",(Lou) Gehrig
20,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,"Africa's lowest temperature was 11 degrees below zero in 1935 at Ifrane, just south of Fez in this country",Morocco
21,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to sell high fashions to women,(Paul) Bonwit
22,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to your craft, your race and to your family""",Hattie McDaniel (for her role in Gone with the Wind)
23,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an eon, is divided into periods & subdivided into epochs",era
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,"This Asian political party was founded in 1885 with ""Indian National"" as part of its name",the Congress Party
25,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$1000,No. 5: Only center to lead the NBA in assists; track scholarship to Kansas U.; marathoner; volleyballer,(Wilt) Chamberlain
26,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$1000,"The Kirschner brothers, Don & Bill, named this ski company for themselves & the second-highest mountain",K2
27,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$1000,"Revolutionary War hero: ""His spirit is in Vermont now""",Ethan Allen
28,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$1000,"A single layer of paper, or to perform one's craft diligently",ply
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_23.mp3"">Beyond ovoid abandonment, beyond ovoid betrayal... you won't believe the ending when he ""Hatches the Egg""</a>",Horton
30,4680,2004-12-31,Double Jeopardy!,PRESIDENTIAL STATES OF BIRTH,$400,California,Nixon
31,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$400,"It can be a place to leave your puppy when you take a trip, or a carrier for him that fits under an airplane seat",a kennel
32,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$400,"He's considered the author of the Pentateuch, which is hard to believe, as Deuteronomy continues after his death",Moses
33,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$400,"Steven Tyler of this band lent his steamin' vocals to ""Train Kept A-Rollin'"", first popularized by the Yardbirds",Aerosmith
34,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$400,Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero,oratory
35,4680,2004-12-31,Double Jeopardy!,PRESIDENTIAL STATES OF BIRTH,$800,1 of the 2 born in Vermont,Coolidge (or Chester Arthur)
36,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$800,"When it began on Pan Am & Qantas in the late '70s, it was basically a roped-off part of the economy cabin with free drinks",business class
37,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$800,"Ali, who married this man's daughter Fatima, is considered by Shia Muslims to be his true successor",Muhammed
38,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$800,"During the 1954-1955 Sun sessions, Elvis climbed aboard this train ""sixteen coaches long""","the ""Mystery Train"""
39,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$800,"The shorter glass seen <a href=""http://www.j-archive.com/media/2004-12-31_DJ_12.jpg"" target=""_blank"">here</a>, or a quaint cocktail made with sugar & bitters",an old-fashioned
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle
41,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,"$2,000","In 2003 this airline agreed to buy KLM, creating Europe's largest airline",Air France
42,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$1200,Philadelphia got its start as a colony for this religious group of which William Penn was a member,the Quakers
43,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$1200,"This ""Modern Girl"" first hit the Billboard Top 10 with ""Morning Train (Nine To Five)""",(Sheena) Easton
44,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$1200,"This stiff silken fabric is favored for bridal gowns, like Christina Applegate's in 2001",organza
45,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1600,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_25.mp3"">Somewhere between truth & fiction lies Marco's reality... on Halloween, you won't believe you saw it on this St.</a>",Mulberry Street
46,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$1600,In 2004 United launched this new service that features low fares & more seats per plane,Ted
47,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$1600,With Mary I's accession in 1553 he ran to Geneva; he returned in 1559 & reformed the Church of Scotland,(John) Knox
48,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$1600,"This band's ""Train In Vain"" was a hidden track on its original 1979 ""London Calling"" album",The Clash
49,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$1600,"Cross-country skiing is sometimes referred to by these 2 letters, the same ones used to denote 90 in Roman numerals",XC

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [59]:
def filter_question(data, word_list) :
    filter = lambda x : all(word in x.split() for word in word_list)
    return data.loc[data['Question'].apply(filter)]

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [62]:
def filter_question(data, word_list) :
    filter = lambda x : all(word.lower() in x.lower() for word in word_list)
    return data.loc[data['Question'].apply(filter)]
filtered_df = filter_question(df, ['King','England'])

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [64]:
remove_comma = lambda x : x.replace(',','') if ',' in x else x
remove_dollar = lambda x : x.replace('$','') if '$' in x else x
change_to_float = lambda x : float(x) if x != 'no value' else np.nan
df['Float Value'] = df['Value'].apply(remove_comma).apply(remove_dollar).apply(change_to_float)
df['Float Value']
filtered_king = filter_question(df, ['king'])
filtered_king['Float Value'].mean()

785.668910564638

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [65]:
def unique_answer_count(data) :
    return data['Answer'].value_counts()
print(unique_answer_count(filtered_king))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [70]:
def filter_by_year(data , year) :
    filter = lambda x : True if int(x[:4]) >= year and int(x[:4]) <= year+9 else False
    return data[data['Air Date'].apply(filter)]
filtered_computer = filter_question(df, 'Computer')
computer_in_questions_1990 = filter_by_year(filtered_computer,1990)
computer_in_questions_2000 = filter_by_year(filtered_computer,2000)
print(computer_in_questions_1990.shape[0])
print(computer_in_questions_2000.shape[0])

21298
50484

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.